# This file defines the owners of the codebase.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more info.

*       @princetheprogrammerbtw
